{%  extends 'base.html.twig' %}

{% block main %}
    <h1 class="text-center">Welcome to coin-portfol.io</h1>


    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h2>Summary</h2>
            </div>
            <div class="col-xs-12 col-sm-6">
                <a href="#" class="btn btn-outline-dark btn-sm pull-right" data-toggle="modal" data-target="#js-add-asset-modal">
                    <i class="fa fa-plus"></i>
                </a>

                <h2>Assets</h2>

                <!-- Modal -->
                <div class="modal fade" id="js-add-asset-modal" tabindex="-1" role="dialog" aria-labelledby="js-add-asset-modal" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Add asset</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                {{ form_start(assetForm) }}
                                    {{ form_widget(assetForm) }}
                                    <button type="submit" class="btn btn-outline-warning pull-right">Add asset</button>
                                {{ form_end(assetForm) }}
                            </div>
                        </div>
                    </div>
                </div>

                {% if portfolio is not empty %}
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Holdings</th>
                            <th scope="col">Price</th>
                            <th scope="col">Valuation</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in portfolio %}
                            <tr>
                                <th scope="row">{{ row.asset.coin.name }}</th>
                                <td>{{ row.asset.holdings }}</td>
                                <td>{{ row.ticker.value | price }}</td>
                                <td>{{ (row.asset.holdings * row.ticker.value) | price }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    No asset yet.
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="row justify-content-md-center">
            <div class="col col-lg-4">
                <p>
                    To start using coin-portfol.io, please sign in.
                </p>

                {% include 'security/login-form.html.twig' %}
            </div>
        </div>
    {% endif %}

{% endblock %}